apiVersion: apps/v1
kind: Deployment
metadata:
  name: importerA
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app: importerA
    app.kubernetes.io/version: 2.0.0
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: importerA
      app.kubernetes.io/component: importerA
      app.kubernetes.io/instance: redhat-trusted-profile-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: importerA
        app.kubernetes.io/component: importerA
        app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    spec:
      containers:
        - name: service
          image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/live
              port: 9010
          readinessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/ready
              port: 9010
          command:
            - /usr/local/bin/trustd
          args:
            - importer
            - --working-dir
            - /data/workdir
          env:
            - name: NAMESPACE
              value: "{{ tpa_single_node_namespace }}"
            - name: RUST_LOG
              value: info
            - name: INFRASTRUCTURE_ENABLED
              value: 'true'
            - name: INFRASTRUCTURE_BIND
              value: '[::]:9010'
            - name: TRUSTD_DB_HOST
              value: "{{ tpa_single_node_pg_host }}"
            - name: TRUSTD_DB_PORT
              value:  "{{ tpa_single_node_pg_port }}"
            - name: TRUSTD_DB_NAME
              value: "{{ tpa_single_node_pg_db }}"
            - name: TRUSTD_DB_USER
              value: "{{ tpa_single_node_pg_user }}"
            - name: TRUSTD_DB_PASSWORD
              value: "{{  tpa_single_node_pg_user_passwd }}"
            - name: TRUSTD_DB_SSLMODE
              value: "{{ tpa_single_node_pg_ssl_mode }}"
            - name: TRUSTD_DB_MAX_CONN
              value: "{{ tpa_single_node_pg_max_conn }}"
            - name: TRUSTD_DB_MIN_CONN
              value: "{{ tpa_single_node_pg_min_conn }}"
            - name: TRUSTD_DB_CONNECT_TIMEOUT
              value: "{{ tpa_single_node_pg_conn_timeout }}"
            - name: TRUSTD_DB_ACQUIRE_TIMEOUT
              value: "{{ tpa_single_node_pg_acquire_timeout }}"
            - name: TRUSTD_DB_MAX_LIFETIME
              value: "{{ tpa_single_node_pg_max_lifetime }}"
            - name: TRUSTD_DB_IDLE_TIMEOUT
              value: "{{ tpa_single_node_pg_idle_timeout }}"
{% if tpa_single_node_storage_region == 'None' %}
            - name: TRUSTD_STORAGE_STRATEGY
              value: fs
            - name: TRUSTD_STORAGE_FS_PATH
              value: /data/storage
{% else %}
            - name: TRUSTD_STORAGE_STRATEGY
              value: s3
            - name: TRUSTD_S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: storage_secret
                  key: storage_access_key
            - name: TRUSTD_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: storage_secret
                  key: storage_secret_key
            - name: TRUSTD_S3_BUCKET
              value: "{{ tpa_single_node_storage_bucket }}"
            - name: TRUSTD_S3_REGION
              value: "{{ tpa_single_node_storage_region }}"
{% endif %}
          ports:
            - containerPort: 9010
              protocol: TCP
              name: infra
          volumeMounts:
            - name: storage
              mountPath: /data/storage
            - name: workdir
              mountPath: /data/workdir
      volumes:
          - name: storage
            persistentVolumeClaim:
              claimName: storage
          - name: workdir
            persistentVolumeClaim:
              claimName: workdir
