apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: tls_server_cert
data:
  tls.crt: "{{ tpa_single_node_tls_server_crt_pem | b64encode }}"
  tls.key: "{{ tpa_single_node_tls_server_key_pem | b64encode }}"
