apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: server-tls
data:
  server-tls.crt: "{{ tpa_single_node_trust_tls_cert_pem | b64encode }}"
  server-tls.key: "{{ tpa_single_node_trust_tls_cert_key | b64encode }}"
