argument_specs:
  main:
    short_description: "Configure Red Hat Trusted Profile Analyzer Signer (RHTPA) on a single managed node."
    description: >
      Deploy the [RHTPA](https://docs.redhat.com/en/documentation/red_hat_trusted_profile_analyzer/) service
      on a single managed node by using the `tpa_single_node` role.
    version_added: "2.0.0"
    options:
      tpa_single_node_trustification_image:
        description: "Trustification image."
        type: "str"
        version_added: "2.0.0"
        default: "registry.redhat.io/rhtpa/rhtpa-trustification-service-rhel9:0bef82c8139cc89ef4840e36ad519ca24bb54f70"
      tpa_single_node_base_hostname:
        description: "The user name logging in to the registry to pull images."
        type: "str"
        version_added: "2.0.0"
        default: "trustification"
      tpa_single_node_rhel_host:
        description: "Ip of the instance."
        type: "str"
        version_added: "2.0.0"
      tpa_single_node_certificates_dir:
        description: "Folder where to place the certificates to deploy on the instance."
        type: "str"
        version_added: "2.0.0"
        default: "certs"
      tpa_single_node_config_dir:
        description: "Configuration directory on the instance."
        type: "str"
        version_added: "2.0.0"
        default: "/etc/rhtpa"
      tpa_single_node_kube_manifest_dir:
        description: "Configuration directory on the instance containing the manifests."
        type: "str"
        version_added: "2.0.0"
        default: "/etc/rhtpa/manifests"
      tpa_single_node_namespace:
        description: "Podman network namespace."
        type: "str"
        version_added: "2.0.0"
        default: "trustification"
      tpa_single_node_podman_network:
        description: "Podman network name."
        type: "str"
        version_added: "2.0.0"
        default: "tcnet"
      tpa_single_node_systemd_directory:
        description: "Folder where to store the systemd configurations files."
        type: "str"
        version_added: "2.0.0"
        default: "/etc/systemd/system"
      tpa_single_node_default_empty:
        description: "Default empty value."
        type: "str"
        version_added: "2.0.0"
        default: ""
      tpa_single_node_pg_host:
        description: "Host ip of the postgresql db instance. Readed from the TPA_PG_HOST env"
        type: "str"
        version_added: "2.0.0"
        default: ""
      tpa_single_node_pg_port:
        description: "Port of the postgresql db instance."
        type: "str"
        version_added: "2.0.0"
        default: "5432"
      tpa_single_node_pg_db:
        description: "DB name."
        type: "str"
        version_added: "2.0.0"
        default: "trustify"
      tpa_single_node_pg_admin:
        description: "DB admin user."
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_pg_admin_passwd:
        description: "DB admin password."
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_pg_user:
        description: "DB user."
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_pg_user_passwd:
        description: "DB user password."
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_pg_ssl_mode:
        description: "DB SSL mode require/allow."
        type: "str"
        version_added: "2.0.0"
        default: "require"
      tpa_single_node_oidc_issuer_url:
        description: "Readed from TPA_OIDC_ISSUER_URL env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_oidc_frontend_id:
        description: "Readed from TPA_OIDC_FRONTEND_ID env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_oidc_client_id:
        description: "Readed from TPA_OIDC_CLIENT_ID env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_oidc_client_secret:
        description: "Readed from TPA_OIDC_CLIENT_SECRET env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_aws_cognito_domain:
        description: "Readed from TPA_OIDC_COGNITO_DOMAIN env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_storage_access_key:
        description: "Read from 'TPA_STORAGE_ACCESS_KEY' env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_storage_secret_key:
        description: "Read from 'TPA_STORAGE_SECRET_KEY' env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_storage_bucket:
        description: "Read from 'TPA_STORAGE_S3_BUCKET' env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_storage_region:
        description: "Read from 'TPA_STORAGE_REGION' env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_storage_minio_endpoint:
        description: "Read from 'TPA_STORAGE_MINIO_ENDPOINT' env var"
        type: "str"
        required: false
        version_added: "2.0.0"
      tpa_single_node_root_ca:
        description: "rootCA path on the controller machine"
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_trust_cert_tls_crt_path:
        description: "pem path on the controller machine"
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_trust_cert_tls_key_path:
        description: "key path on the controller machine"
        type: "str"
        required: true
        version_added: "2.0.0"
      tpa_single_node_storage_secret:
        description: "storage-secret.yaml path on the target machine"
        type: "str"
        version_added: "2.0.0"
        default: "/etc/rhtpa/manifests/storage-secret.yaml"
      tpa_single_node_oidc_secret:
        description: "oidc-secret.yaml path on the target machine"
        type: "str"
        version_added: "2.0.0"
        default: "/etc/rhtpa/manifests/oidc-secret.yaml"
      tpa_single_node_probe_initial_delay_seconds:
        description: "Initial prob delay in seconds"
        type: "int"
        version_added: "2.0.0"
        default: 30
      tpa_single_node_cpu:
        description: "CPU for deployment"
        type: "int"
        version_added: "2.0.0"
        default: 1
      tpa_single_node_memory:
        description: "Memory for deployment"
        type: "str"
        version_added: "2.0.0"
        default: 8Gi
      tpa_single_node_server_pvc_claim:
        description: "Server PVC Claim"
        type: "str"
        version_added: "2.0.0"
        default: 32Gi
      tpa_single_node_log_filter:
        description: "Rust Log filter"
        type: "str"
        version_added: "2.0.0"
        default: "info"
      tpa_single_node_server_req_limit:
        description: "HTTP Server Request limit"
        type: "str"
        version_added: "2.0.0"
      tpa_single_node_server_json_limit:
        description: "HTTP Server JSON limit"
        type: "str"
        version_added: "2.0.0"
      tpa_single_node_upload_limit:
        description: "Upload limit for Files"
        type: "str"
        version_added: "2.0.0"
      tpa_single_node_storage_compression:
        description: "Compression logic for storage "
        type: "str"
        version_added: "2.0.0"
