---
# vars file for tpa_scaffolding
tpa_single_node_base_hostname: trustification
tpa_single_node_certificates_dir: ./certs/
tpa_single_node_config_dir: /etc/rhtpa
tpa_single_node_kube_manifest_dir: "{{ tpa_single_node_config_dir }}/manifests"
tpa_single_node_namespace: trustification
tpa_single_node_podman_network: tcnet
tpa_single_node_systemd_directory: /etc/systemd/system

# UI
# Generalize > DB_SSLMODE ?
tpa_single_node_ui_tls: "{{ lookup('env', 'TPA_UI_TLS') | default('true', true) }}"

# DB_SERVICE
tpa_single_node_pg_host: "{{ lookup('env', 'TPA_PG_HOST') | default('192.168.124.1', true) }}"
tpa_single_node_pg_port: 5432
tpa_single_node_pg_db: "{{ lookup('env', 'TPA_PG_DB') }}"

<<<<<<< HEAD
tpa_single_node_pg_admin: "{{ lookup('env', 'TPA_PG_ADMIN') }}"
tpa_single_node_pg_admin_passwd: "{{ lookup('env', 'TPA_PG_ADMIN_PASSWORD') }}"
tpa_single_node_pg_user: "{{ lookup('env', 'TPA_PG_USER') }}"
tpa_single_node_pg_user_passwd: "{{ lookup('env', 'TPA_PG_USER_PASSWORD') }}"
tpa_single_node_pg_ssl_mode: "{{ lookup('env', 'TPA_PG_SSL_MODE') | default('allow', true) }}"
tpa_single_node_pg_max_conn: 75
tpa_single_node_pg_min_conn: 25
tpa_single_node_pg_conn_timeout: 20
tpa_single_node_pg_acquire_timeout: 120
tpa_single_node_pg_max_lifetime: 30
tpa_single_node_pg_idle_timeout: 15
=======
tpa_single_node_pg_admin: "{{ lookup('env', 'TPA_PG_ADMIN') }}" # postgres
tpa_single_node_pg_admin_passwd: "{{ lookup('env', 'TPA_PG_ADMIN_PASSWORD') }}" # postgres
tpa_single_node_pg_user: "{{ lookup('env', 'TPA_PG_USER') }}" #trustify
tpa_single_node_pg_user_passwd: "{{ lookup('env', 'TPA_PG_USER_PASSWORD') }}" # trustify
tpa_single_node_pg_ssl_mode: required
>>>>>>> 95c6a88 (Updat ereame and arguments)

# SSO_SERVICE
tpa_single_node_oidc_issuer_url: "{{ lookup('env', 'TPA_OIDC_ISSUER_URL') | default('192.168.124.1:8090', true) }}"
tpa_single_node_oidc_frontend_id: "{{ lookup('env', 'TPA_OIDC_FRONTEND_ID') | default('None', true) }}"
tpa_single_node_oidc_client_id: "{{ lookup('env', 'TPA_OIDC_CLIENT_ID') | default('None', true) }}"
tpa_single_node_oidc_client_secret: "{{ lookup('env', 'TPA_OIDC_CLIENT_SECRET') | default('None', true) }}"

## AWS OIDC fields
tpa_single_node_aws_cognito_domain: "{{ lookup('env', 'TPA_OIDC_COGNITO_DOMAIN') | default('None', true) }}"

# Storage Service
tpa_single_node_storage_access_key: "{{ lookup('env', 'TPA_STORAGE_ACCESS_KEY') | default('None', true) }}" # S3/minio root username
tpa_single_node_storage_secret_key: "{{ lookup('env', 'TPA_STORAGE_SECRET_KEY') | default('None', true) }}" # S3/minio root password
tpa_single_node_storage_bucket: "{{ lookup('env', 'TPA_STORAGE_BUCKET') | default('None', true) }}" # S3/minio bucket
tpa_single_node_storage_region: "{{ lookup('env', 'TPA_STORAGE_REGION') | default('None', true) }}" # S3/minio region
tpa_single_node_storage_minio_endpoint: "{{ lookup('env', 'TPA_STORAGE_MINIO_ENDPOINT') | default('None', true) }}" # Minio endpoint

# TSL CA Certificates
tpa_single_node_root_ca: "{{ tpa_single_node_certificates_dir }}/rootCA.crt"

# TSL Certificates
tpa_single_node_trust_cert_tls_crt_path: "{{ tpa_single_node_certificates_dir }}/trust-cert.crt"
tpa_single_node_trust_cert_tls_key_path: "{{ tpa_single_node_certificates_dir }}/trust-cert.key"
tpa_single_node_trust_server_cert_tls_crt_path: "{{ tpa_single_node_certificates_dir }}/trust-cert.crt"
tpa_single_node_trust_server_cert_tls_key_path: "{{ tpa_single_node_certificates_dir }}/trust-cert.key"

# Target node(s) - Secret and Configmap locations
tpa_single_node_storage_secret: "{{ tpa_single_node_kube_manifest_dir }}/Secrets/storage.yaml"
tpa_single_node_oidc_secret: "{{ tpa_single_node_kube_manifest_dir }}/Secrets/oidc.yaml"
tpa_single_node_server_secret: "{{ tpa_single_node_kube_manifest_dir }}/Secrets/server.yaml"

# Probes
tpa_single_node_probe_initial_delay_seconds: 30

# Importers
tpa_single_node_importer: single # single/multiple

# Storage Compression
tpa_single_node_storage_compression: None # zstd

# Resources
tpa_single_node_cpu: 1
tpa_single_node_memory: 8Gi
tpa_single_node_server_pvc_claim: 32Gi

# Limits
tpa_single_node_server_req_limit: "{{ lookup('env', 'TPA_SERVER_REQ_LIMIT') | default('None', true) }}"
tpa_single_node_server_json_limit: "{{ lookup('env', 'TPA_SERVER_JSON_LIMIT') | default('None', true) }}"
tpa_single_node_upload_limit: "{{ lookup('env', 'TPA_SERVER_UPLOAD_LIMIT') | default('None', true) }}"

# Log Level
tpa_single_node_log_filter: info

# defaults file for tpa_single_node
tpa_single_node_system_packages:
  - podman
  - podman-plugins
  - postgresql
