apiVersion: v1
kind: ConfigMap
metadata:
  name: server-api-auth
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app.kubernetes.io/name: server-api-auth
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: redhat-trusted-profile-analyzer    
    app.kubernetes.io/version: 2.0.0
data:
    auth.yaml: | 
      authentication:
        clients:

{%- if tpa_single_node_oidc == 'keycloak' %}

          - clientId: {{ tpa_single_node_oidc_frontend_id }}
            issuerUrl: {{ tpa_single_node_oidc_issuer_url }}
            scopeMappings: &keycloakScopeMappings
              "create:document": [ "create.advisory", "create.importer", "create.metadata", "create.sbom", "create.weakness", "upload.dataset" ]
              "read:document": [ "ai", "read.advisory", "read.importer", "read.metadata", "read.sbom", "read.weakness" ]
              "update:document": [ "update.advisory", "update.importer", "update.metadata", "update.sbom", "update.weakness" ]
              "delete:document": [ "delete.advisory", "delete.importer", "delete.metadata", "delete.sbom", "delete.vulnerability", "delete.weakness" ]

          - clientId: cli
            issuerUrl: {{ tpa_single_node_oidc_issuer_url }}
            scopeMappings: *keycloakScopeMappings
{%- endif %}

{%- if tpa_single_node_oidc == 'cognito' %}

          - clientId: {{ tpa_single_node_oidc_frontend_id }}
            issuerUrl: {{ tpa_single_node_oidc_issuer_url }}

            additionalPermissions:
              - "ai"
              - "read.advisory"
              - "read.importer"
              - "read.metadata"
              - "read.sbom"
              - "read.weakness"

            groupSelector: "$.['cognito:groups'][*]"

            groupMappings:
              manager:
                - "create.advisory"
                - "create.importer"
                - "create.metadata"
                - "create.sbom"
                - "create.weakness"

                - "upload.dataset"
                - "update.advisory"
                - "update.importer"
                - "update.metadata"
                - "update.sbom"
                - "update.weakness"

                - "delete.advisory"
                - "delete.importer"
                - "delete.metadata"
                - "delete.sbom"
                - "delete.vulnerability"
                - "delete.weakness"

          - clientId: {{ tpa_single_node_oidc_client_id }}
            issuerUrl: {{ tpa_single_node_oidc_issuer_url }}

            scopeMappings:
              "trustify/advisory":
                - "create.advisory"
                - "read.advisory"
                - "update.advisory"
                - "delete.advisory"
              "trustify/importer":
                - "create.importer"
                - "read.importer"
                - "update.importer"
                - "delete.importer"
              "trustify/metadata":
                - "create.metadata"
                - "read.metadata"
                - "update.metadata"
                - "delete.metadata"
              "trustify/sbom":
                - "create.sbom"
                - "read.sbom"
                - "update.sbom"
                - "delete.sbom"
              "trustify/ai":
                - "ai"
              "trustify/admin":
                - "upload.dataset"
                - "delete.vulnerability"
{% endif %}
