kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: storage
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app: rhtpa
    component: server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ tpa_single_node_server_pvc_claim }}"
